/* Write your CSS here */

.individual {
  display: flex;
  flex-direction: row;
  border-color: white;
  border-radius: 30px;
  border-style: solid;
  margin-right: 200px;
  background-color: transparent;
  width: 25%;
  padding: 10px;
  margin-bottom: 20px;
}
.sizing_image {
  height: 200px;
  width: 200px;
}
